.container{
    background-color: red;
    width: 30%;
    color: white;
    padding-top: 20px;
    margin-top: 100px;
    /* padding-left: 50px; */
}
h4{
    color: blue !important;
    text-align: center;
}
body{
    background-image: url(/Images/pexels-rodrigo-souza-2531709.jpg);
}
a:hover{
    color: blue !important;
}
a{
    color: white !important;
}
/* Styling the forms */
.forms{
    text-align: center;
}
 #year{
     width: 8%;
 }
 