 .container{
    background-color: red;
    width: 30%;
    color: #103B7A;
    padding-top: 20px;
    margin-top: 80px;
    height: 500px;
}
body{
    height: 1000px;
}
h4{
    color: #103B7A !important;
    text-align: center;
}
body{
    background-image: url("../Images/pexels-rodrigo-souza-2531709.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
a:hover{
    color: white !important;
}
a{
    color: #103B7A !important;
}
/* Styling the forms */
#year{
     width: 20%;
 }
 #month{
     width: 25%;
 }
#date{
    width: 15%;
}
#button{
     color: white;
     background-color: blue;
     border-radius: 10%;
     margin-left: 500px;
 }
.radio{
    margin-left: 500px;
}
.gender{
    margin-left: 500px;
    margin-top: 30px;
}
  
